*.pyc
*.zip
*.json
*.onnx
*.trt
*.h5
out
*.pb
variables
*.tflite
**/out
*.txt
*/*.txt
**/weights
**/fms
**/scratch_out
**/non_conv*
which_side_is_padded.txt
preprocessed_tst_images
preprocessed_tst_images/*
tflite_scripts_imgnt_accuracy_and_weight_extraction/**/*.txt
*.log
*.jou
*.str
*.cache